:root {
	--primary-text-color: #757575;
	--logo-text-color: #000000;
	--accent-color: #2196f3;
	--text-color: #212121;
	--title-text-color: #ffffff;
	--footer-text-color: #ffffff 60 %;

	--background-color: #ffffff;
	--title-background-color: #2f303a;
	--team-background-color: #f5f4fa;
	--accent-background-color: #2196f3;
	--animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	--animation-modal: 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}
